/* 颜色变量 */

/* 行为相关颜色 */
$color-primary: rgba(255,228,49,1);
$color-success: rgba(87,153,255,1);
$color-warning: rgba(255,93,91,1);
$color-error: rgba(255,93,91,1);

/* 文字基本颜色 */
$text-color:rgba(39,45,50,1);//基本色
$text-color-inverse:#fff;//反色
$text-color-grey:rgba(39,45,50,0.6);//辅助灰色，如加载更多的提示信息
$text-color-placeholder: #808080;
$text-color-disable:rgba(39,45,50,0.4);

/* 背景颜色 */
$bg-color:#ffffff;
$bg-color-grey:rgba(243,244,246,1);
$bg-color-hover:rgba(39,40,50,0.2);//点击状态颜色
$bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$border-color:rgba(39,40,50,0.1);

/* 尺寸变量 */

/* 文字尺寸 */
$font-size-sm:24px;
$font-size-base:28px;
$font-size-lg:32px;

/* 图片尺寸 */
$img-size-sm:80px;
$img-size-base:96px;
$img-size-lg:104px;

/* Border Radius */
$border-radius-sm: 10px;
$border-radius-base: 20px;
$border-radius-lg: 40px;
$border-radius-circle: 50%;

/* 水平间距 */
$spacing-row-sm: 20px;
$spacing-row-base: 40px;
$spacing-row-lg: 60px;

/* 垂直间距 */
$spacing-col-sm: 16px;
$spacing-col-base: 32px;
$spacing-col-lg: 48px;

/* 透明度 */
$opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$color-title: #2C405A; // 文章标题颜色
$font-size-title:20px;
$color-subtitle: #555555; // 二级标题颜色
$font-size-subtitle:26px;
$color-paragraph: #3F536E; // 文章段落颜色
$font-size-paragraph:15px;