@import '../mixins/base';

@for $i from 1 through 10 {
    @if $i ==1 {
        .ellipsis {
            @include ellipsis;
        }
    } @else {
        .ellipsis_#{$i} {
            @include ellipsis(#{$i});
        }
    }
}

@for $i from 1 through 10 {
    .height_#{$i} {
        height: #{$i}px;
    }
}

@for $i from 1 through 10 {
    .width_#{$i} {
        width: #{$i}px;
    }
}

// @for $i from 1 through 10 {
//     .padding_#{$i} {
//         padding: #{$i}px;
//     }
//     .padding_#{$i}_i {
//         padding: #{$i}px !important;
//     }

//     .pl_#{$i} {
//         padding-left: #{$i}px;
//     }
//     .pl_#{$i}_i {
//         padding-left: #{$i}px !important;
//     }

//     .pr_#{$i} {
//         padding-right: #{$i}px;
//     }
//     .pr_#{$i}_i {
//         padding-right: #{$i}px !important;
//     }

//     .pt_#{$i} {
//         padding-top: #{$i}px;
//     }
//     .pt_#{$i}_i {
//         padding-top: #{$i}px !important;
//     }

//     .pb_#{$i} {
//         padding-bottom: #{$i}px;
//     }
//     .pb_#{$i}_i {
//         padding-bottom: #{$i}px !important;
//     }

//     .margin_#{$i} {
//         margin: #{$i}px;
//     }
//     .margin_#{$i}_i {
//         margin: #{$i}px !important;
//     }

//     .ml_#{$i} {
//         margin-left: #{$i}px;
//     }
//     .ml_#{$i}_i {
//         margin-left: #{$i}px !important;
//     }

//     .mr_#{$i} {
//         margin-right: #{$i}px;
//     }
//     .mr_#{$i}_i {
//         margin-right: #{$i}px !important;
//     }

//     .mt_#{$i} {
//         margin-top: #{$i}px;
//     }
//     .mt_#{$i}_i {
//         margin-top: #{$i}px !important;
//     }

//     .mb_#{$i} {
//         margin-bottom: #{$i}px;
//     }
//     .mb_#{$i}_i {
//         margin-bottom: #{$i}px !important;
//     }
// }

// opacity
@for $i from 1 through 10 {
  $alpha: $i*10;
    @if $i > 9 {
        .opacity {
            // @include opacity(#{$i/10},$alpha);
            @include opacity;
        }
    } @else {
        .opacity_#{$i} {
            @include opacity(#{$i/10}, $alpha);
        }
    }
}


// 清除浮动
.clearfix {
  @include clearfix;
}

// 毛玻璃
.blur {
  @include blur;
}


// 滤镜: 将彩色照片显示为黑白照片、保留图片层次
.grayscale{
  @include grayscale(100%)
}


// 点击显示小手
.pointer {
  cursor: pointer;
}

// 文本不允许选中
.noselect{
  user-select: none;
}

// 点击无效
.click--invalid {
  pointer-events: none;
}

