.flex {
    display: flex;
}
.flex-direction {
    @include flex-direction;
}
.flex-direction-col {
    @include flex-direction(column);
}
.flex-direction-col-r {
    @include flex-direction(column-reverse);
}
.flex-direction-row-r {
    @include flex-direction(row-reverse);
}

//换行
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

// 单行居中
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 多行居中
.flex-center-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
}

@for $i from 1 through 20 {  
    .flex#{$i} {    
        flex:#{$i} ;
    }
}