.top-bar {
    height: 88px;
    background-color: $bg-color;
   border-bottom: $border-color;
    padding: 0 $spacing-row-base;
    .top-bar-left {
        img {
            height: 68px;
            width: 68px;
            border-radius: 16px;
        }
    }
    .top-bar-center {
        img {
            width: 88px;
            height: 42px;
        }
    }
    .top-bar-right {
        img {
            width: 56px;
            height: 56px;
        }
    }
}
